.draggable-container {
  position: fixed;
  display: flex;
  left: 80vw;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  z-index: 2;
  background: rgba(252, 252, 252, 0.6);
  cursor: grab;
  width: 200px;
  height: 40px;
}
.draggable-container:hover {
  background: rgba(252, 252, 252, 1);
  
}
