@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../../public/background/mac_back.jpeg');
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}


.hightText {
  color: #ffff;
  z-index: 1;
}
.hightText h2 {
  font-size: 3vw;
}
.hightText h1 {
  font-size: 4vw;
}

h2 > .accent {
  -webkit-text-stroke: 1px #ffff;
  color: transparent;
}

@keyframes rotateElement {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
