@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(-45deg, #50ffe5, #394798, #23a6d5, #bc8f8f);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.section {
  padding: 40px 40px 140px 40px;
  border-radius: 5px;
  background-color: rgba(31, 31, 31, 0.3);
}

.hightText {
  color: #ffff;
  z-index: 1;
}
.hightText h2 {
  font-size: 3vw;
}
.hightText h1 {
  font-size: 4vw;
}

h2 > .accent {
  -webkit-text-stroke: 1px #ffff;
  color: transparent;
}
p {
  color: #e7feff;
  font-size: 3em;
  margin: 20px;
  font-weight: 900;
}
@keyframes rotateElement {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.wave {
  opacity: 0.4;
  position: absolute;
  background: rgba(101, 155, 216, 0.9);
  left: 70%;
  top: 70%;
  transform-origin: 50% 48%;
  border-radius: 45%;
  animation: drift 5000ms infinite linear;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
